@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: #4B88D7;
    font-family: 'Jua', sans-serif;
    color: #F9F6EE;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav, .quote, .carousel, footer {
    margin: 20px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #F9F6EE;
    transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    color: #FFD700;
    transform: scale(1.1);
}

.quote {
    font-size: 1.2rem;
    margin: 30px 0;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.carousel {
    width: 800px;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 5px;
    transition: transform 1.5s ease-in-out;
    will-change: transform;
}

.movie-card {
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease;
    opacity: 1;
}

.movie-card.slide {
    animation: slideIn 0.5s ease forwards;
}


@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.footer-text {
    font-size: 0.7rem;
    margin-top: 30px;
    opacity: 0.8;
}
