@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: #4B88D7;
    font-family: 'Jua', sans-serif;
    color: #F9F6EE;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center; 
    padding: 20px 100px;
    align-items: center;
}

.logo {
    font-size: 24px;
    background: #ccc;
    padding: 10px;
    border-radius: 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px; 
}

nav a {
    color: #F9F6EE;
    text-decoration: none;
    margin: 0 10px; 
    font-size: 2rem; 
}

.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 1.5rem;
    color: #F9F6EE;
}

.search-input {
    display: none;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.search-icon:hover + .search-input,
.search-input:focus {
    display: block;
}

main {
    padding: 39px; 
}

h1 {
    font-size: 3.5rem; 
}

.filters {
    display: flex;
    justify-content: center;
    gap: 50px; 
    margin: 40px 0; 
}

.filters label {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 1.5rem; 
}

.genre-section {
    margin-bottom: 80px; 
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 150px; 
    height: 230px; 
    background: lightgray;
    border-radius: 10px;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.star {
    font-size: 1.3rem;
}

.star-1 {
    color:#E35F53;
}

.star-2 {
    color: #FFE629;
}

.star-3 {
    color: #2BFF32;
}

.star-4 {
    color: #36F9E2;
}

.prev, .next {
    background: none;
    border: none;
    font-size: 2rem; 
    color: #F9F6EE;
    cursor: pointer;
}

.user-menu {
    position: relative;
    display: inline-block;
}

#userButton {
    background: none;
    border: none;
    color: #FFC107;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

#userButton i {
    font-size: 1.8rem;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #F9F6EE;
    color: #4B88D7;
    min-width: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
}

.dropdown a, .dropdown button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: #4B88D7;
    font-size: 1rem;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.dropdown a:hover, .dropdown button:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
